<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
     <title>Services</title>
    <style type="text/css">
    body {
        font-family: "Comicsansms";
        padding-top: 70px;
        background-color: #FBEEE6;
    }
    .jumbotron {
      color: #2c3e50;
      background: #ecf0f1;
    }

  </style>

</head>
<body style= "background-image:url('https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');background-repeat: no-repeat;background-attachment: fixed; background-size: cover">

  <div class="container">

  <div class="jumbotron">
    <h1>How Can We Assist You</h1>
      <p>At S&H we as a team of counseling psychologists intend to provide skillful interventions to our clients with a holistic approach, using an eclectic medium. We stress on the equation that mental well being is when we take care of our social, emotional, physical and psychological well being together as a whole.
</p>
   
      <h4>We Can Help You With…</h4>
  </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <h4>PARENTAL COUNSELING</h4>
        <li class="w3-text-grey"> Effective parenting</li>
        <li class="w3-text-grey"> Stress and parenthood</li>
        <li class="w3-text-grey"> Postpartum depression</li>
        <li class="w3-text-grey"> Balancing and Time management</li>
        <li class="w3-text-grey"> Stress and coping of having a child with special needs</li>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <h4>RELATIONSHIPS</h4>
        <li class="w3-text-grey"> Break Ups </li>
        <li class="w3-text-grey"> Marital conflicts</li>
        <li class="w3-text-grey"> Couples counseling</li>
        <li class="w3-text-grey"> Family counseling</li>
        <li class="w3-text-grey"> Strengthening family bonds</li>
        <li class="w3-text-grey"> Friendships</li>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <h4>STRESS, ANXIETY, DEPRESSION</h4>
        <li class="w3-text-grey"> Stress</li>
        <li class="w3-text-grey"> Depression</li>
        <li class="w3-text-grey"> Loneliness</li>
        <li class="w3-text-grey"> Self identity Crisis</li>
        <li class="w3-text-grey"> Sleep</li>
        <li class="w3-text-grey"> Trauma</li>
        <li class="w3-text-grey"> PTSD</li>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <h4>SELF ENHANCEMENT</h4>
        <li class="w3-text-grey"> Boosting confidence</li>    
        <li class="w3-text-grey"> Developing social skills</li>
        <li class="w3-text-grey"> Expressive communication</li>
        <li class="w3-text-grey"> Self esteem</li>
        <li class="w3-text-grey"> Bullying</li>
        <li class="w3-text-grey"> Self image</li>
        <li class="w3-text-grey"> Body image</li>
        <li class="w3-text-grey"> Dealing with expectations</li>
        <li class="w3-text-grey"> Coping with work pressure</li>
        <li class="w3-text-grey"> Adapting to new social environment</li>
        <li class="w3-text-grey"> Job satisfaction</li>
        <li class="w3-text-grey"> Improving life quality</li>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <h4>CHILD & ADOLESCENT COUNSELING</h4>
        <li class="w3-text-grey"> Children with special needs</li>    
        <li class="w3-text-grey"> Peer pressure</li>
        <li class="w3-text-grey"> Bullying in school</li>
        <li class="w3-text-grey"> Behavioral  difficulties</li>
        <li class="w3-text-grey"> Communication skills</li>
        <li class="w3-text-grey"> Social-emotional development</li>
        <li class="w3-text-grey"> Examination stress/anxiety</li>
        <li class="w3-text-grey"> Coping with work pressure</li>
        <li class="w3-text-grey"> Adapting to new social environment</li>
        <li class="w3-text-grey"> Difficulty making friends</li>
        <li class="w3-text-grey"> Adjusting to new environments</li>
        </div>
      </div>
  </div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
      