<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
 <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <style>
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>
<body style= "background-image:url('https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');background-repeat: no-repeat;background-attachment: fixed; background-size: cover">
<h2 style="text-align:center">Welcome to our series.....</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.57.22+PM.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.57.03+PM.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.56.36+PM.jpeg" style="width:100%">
  </div>
   
  <div class="mySlides">
    <div class="numbertext">4 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.56.12+PM.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.55.47+PM.jpeg" style="width:100%">
  </div>
   
  <div class="mySlides">
    <div class="numbertext">6 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.53.06+PM.jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">7 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.52.36+PM.jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">8 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.52.26+PM.jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">9 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM.jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">10 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(4).jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">11 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(3).jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">12 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(2).jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">13 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(1).jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">14 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+10.06.18+PM.jpeg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">15 / 15</div>
    <img src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+10.00.25+PM.jpeg" style="width:100%">
  </div>
   
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.57.22+PM.jpeg" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.57.03+PM.jpeg" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.56.36+PM.jpeg" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.56.12+PM.jpeg" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.55.47+PM.jpeg" style="width:100%" onclick="currentSlide(5)">
    </div>    
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.53.06+PM.jpeg" style="width:100%" onclick="currentSlide(6)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.52.36+PM.jpeg" style="width:100%" onclick="currentSlide(7)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+9.52.26+PM.jpeg" style="width:100%" onclick="currentSlide(8)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM.jpeg" style="width:100%" onclick="currentSlide(9)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(4).jpeg" style="width:100%" onclick="currentSlide(10)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(3).jpeg" style="width:100%" onclick="currentSlide(11)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(2).jpeg" style="width:100%" onclick="currentSlide(12)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+7.19.14+PM+(1).jpeg" style="width:100%" onclick="currentSlide(13)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+10.06.18+PM.jpeg" style="width:100%" onclick="currentSlide(14)">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://sandhbucket.s3.ap-south-1.amazonaws.com/public/WhatsApp+Image+2020-05-18+at+10.00.25+PM.jpeg" style="width:100%" onclick="currentSlide(15)">
    </div>
   
  </div>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
   
</body>
</html>


 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
